<div data-ng-controller="HeaderController" class="md-toolbar-tools" layout="row">
	<md-list>
		<h1><a href="/#!/">Program in Budget</a></h1>
	</md-list>

		<md-list data-ng-if="menu.shouldRender(authentication.user);" layout="row">
			<md-item data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<div ng-switch-when="dropdown">
					<md-menu>
						<md-button  ng-click="$mdOpenMenu($event)">
			            	<span data-ng-bind="item.title"></span>
			          	</md-button>
			          	<md-menu-content width="4">
			            	<md-menu-item data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
			              		<md-button>
				                	<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
				              	</md-button>
				            </md-menu-item>
			          	</md-menu-content>
		      		</md-menu>
	      		</div>
	          	<div ng-switch-default>
	          		<md-button>
	            		<a href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
	            	</md-button>
	          	</div>
			</md-item>
			
		</md-list>

		<span flex=""></span>
		
		<md-list data-ng-hide="authentication.user">
			<md-button ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</md-button>
			<md-button ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</md-button>
		</md-list>
		<md-list  data-ng-show="authentication.user">
			<md-menu>
				<md-button  ng-click="$mdOpenMenu($event)">
			            	<span data-ng-bind="authentication.user.displayName"></span>
			          	</md-button>
				
				<md-menu-content width="4">
					<md-button>
						<a href="/#!/settings/profile">Edit Profile</a>
					</md-button>
					<md-button>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</md-button>
					<md-button data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</md-button>
					<md-divider>
					<md-button>
						<a href="/auth/signout">Signout</a>
					</md-button>
				</md-menu-content>
			</md-menu>
		</md-list>

</div>

